.page-header
  padding-top: 20px
.column-header
  padding: 0
  list-style: none
  border-bottom: 1px solid #E6E8EB
  margin: 0
  padding-top: 20px
  padding-bottom: 5px
  font-size: 13px
  &:after
    display: table
    clear: both
    content: ""

  li
    float: left
    &.column-header__name
      width: calc(45% + 60px)
    &.column-header__modified
      width: 25%
    
    button
      padding: 0
      outline: none
      border: none
      background: none
      user-select: none
      -webkit-appearance: button
      cursor: pointer

.list-item
  margin: 0
  list-style: none
  padding: 0
  li
    border-bottom: 1px solid #E6E8EB
    margin-bottom: 1px
    padding-top: 8px
    padding-bottom: 8px
    color: #7A8189
    &:hover
      background-color: #f5f5f5
    &:last-of-type
      border: none

    .name
      display: inline-block
      margin-left: 10px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      vertical-align: middle
    .modified
      display: inline-block
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      vertical-align: middle
.btn
  color: #7A8189
  text-decoration: none
  cursor: pointer
  border-color: #7A8189
  border-width: 2px
  padding: 12px 14px
  border-radius: 5px
  text-align: center
  vertical-align: middle
  font-size: 15px
      
    .icon
      margin-left: 15px
      &.icon-folder
        color: #009688
.category
  .name
      width: 45%
  .modified
    width: 25%

// bookmarks
.bookmark-container
  .column-header
    li
      &.column-header__title
        width: 40%
      &.column-header__category
        width: 20%
      &.column-header__modified
        width: calc(20% + 10px)  
  
.bookmarks
  .title-wrapper
    width: 35%
    margin-right: 5%
    display: inline-block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    vertical-align: middle
    .title
      vertical-align: middle
  .category
    width: 20%
    display: inline-block
  .modified
    width: 20%
// icons
.icon
  &.icon-folder
    font-size: 28px
    vertical-align: middle
    margin-right: 15px
.arrow-up
  &:after
    content: '▲'
.arrow-down
  &:after
    content: '▼'