@import base/elements
@import base/vars
@import base/igrids

@import components/spinner
@import components/nav
@import components/auth
@import components/responsive
@import components/modal
@import components/lists
@import components/button
@import components/dropdown
@import components/pagination
@import components/tingle

body
  margin: 0
  padding: 0
  font-family: $primary-font-family
  background-color: $body-bg-color
  font-size: $body-font-size
h2
  margin-top: 0

img
  max-width: 100%

.pages
  // transition: all 15s ease-in-out
  &.ng-enter
    // transform: translateX(200px)
    opacity: 0
    transition: all 0.8s ease-in-out
    &.ng-enter-active
      // transform: translateX(0px)
      opacity: 1
  &.ng-leave
    opacity: 1
    // transform: translateX(0px)
    transition: all 0s ease-in-out
    &.ng-leave-active
      opacity: 0
      // transform: translateX(-200px)