<div class="full-wrapper">
  <div class="auth-form-container">
    <div class="box">
      <div class="btn-holder text-center">
        <img src="assets/img/synk.it-black.svg" alt="synkit">
        <a class="btn f-btn" ng-click="signInWithFacebook()"><span><img src="assets/img/facebook.svg" alt="facebook"></span>Sign up Facebook</a>
        <a class="btn g-btn" ng-click="signInWithGoogle()"><span><img src="assets/img/google.svg" alt="google"></span>Sign up Google</a>
        <h6 class="auth-error">{{error}}</h6>
        <h4>Already have an account? Sign in <a href="#!/auth/signin">here</a></h4>
      </div><!--/.btn-holder-->
    </div><!--/.boxr-->
  </div><!--/.auth-form-container-->
</div><!--/.full-wrapper-->