<div class="full-wrapper">
  <div class="auth-form-container">
    <div class="box">
      <div class="btn-holder text-center">
        <img src="assets/img/synk.it-black.svg" alt="synkit">
        <a class="btn f-btn" ng-click="signInWithFacebook()"><span><img src="assets/img/facebook.svg" alt="facebook"></span>Sign in Facebook</a>
        <a class="btn g-btn" ng-click="signInWithGoogle()"><span><img src="assets/img/google.svg" alt="google"></span>Sign in Google</a>
        <h6 class="auth-error">{{error}}</h6>
        <h4>Don't have an account? Sign up <a href="#!/auth/signup">here</a></h4>
      </div>
      <!--/.btn-holder-->
    </div>
    <!--/.boxr-->
  </div>
  <!--/.auth-form-container-->
</div>
<!--/.full-wrapper-->